@page "/confirmation"
@using DAL
@using Entities
@inject NavigationManager NavigationManager
<HeadContent>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- Other styles and links -->
</HeadContent>
<style>
    .h1-custom {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 3rem; /* Adjust the font size as needed */
        color: white; /* Change the text color */
        /* Add any other styles you want to apply */
    }

    .h3-custom {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.8rem; /* Adjust the font size as needed */
        color: lightgreen; /* Change the text color */
        margin-bottom: 10px; /* Add margin bottom as needed */
        /* Add any other styles you want to apply */
    }
    .thumbnail-img {
        width: 800px;
        height: 800px;
        object-fit: cover;
        border-radius: 5px;
    }

    .thumbnail-column {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div style="background-image: url('/buildings.jpg'); background-size: cover; background-position: center; min-height: 100vh; display: flex; justify-content: center; align-items: flex-start; position: relative;">
    <div class="row text-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5); color: white; padding: 20px;">
        <div class="container">
            <h1 class="mt-4 mb-3 h1-custom">Thank You for Applying!</h1>
            <h3 class="mt-4 mb-3 h3-custom">We'll Contact you very Soon</h3>
            <div style="display: flex; justify-content: center;">
                <a href="/joblistings" class="btn btn-primary btn-lg">See more Jobs</a>
            </div>
        </div>
    </div>
</div>

@code {

}
