@page "/confirmation"
@using DAL
@using Entities

@inject NavigationManager NavigationManager
@inject JobApplicationDAL JobApplicationDAL

<style>
    .thumbnail-img {
        width: 800px;
        height: 800px;
        object-fit: cover;
        border-radius: 5px;
    }

    .thumbnail-column {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .job-details h5 {
        font-size: 4rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    .job-details h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #0066b2;
        margin-bottom: 10px;
    }

    .job-details p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <h1 class="mt-4 mb-3 text-center" style="font-weight: bold;">Thank You for Applying!</h1>
    
</div>

@code {
   
}
