@inherits LayoutComponentBase

<PageTitle>Job Portal</PageTitle>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <NavMenu />
            </div>
        </div>
    </nav>
</header>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
